.main-container{
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}
.personal-top{
    display: flex;
    width: 800px;
    height: 120px;
    margin: 0 auto;
    border-radius: 10px;
    align-items: center;
    background-color: #fff;
    box-shadow: -6px 6px 3px -1px rgba(200, 200, 200, 0.5);
}
.headimg{
    width: 80px;
    height: 80px;
    margin-right: 30px;
    margin-left: 30px;
}
.personal-name{
    font-size: 21px;
    color: #2f2f2f;
    font-weight: 700;
}
.router-container{
    width: 800px;
    margin: 0 auto;
}
.like {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #49d82a;
    font-size: 18px;
    border-radius: 20px;
    margin-left: 100px;
    cursor: pointer;
    transition: all .5s;
}
.like:hover {
    background-color: #3db922;
}
.info{
    width: 300px;
    margin-top: 20px;
}