.home-container{
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}
.avatar-container{
    display: flex;
    justify-content: center;
}
.avatar{
    width: 64px;
    height: 64px;
}
.post-item{
    margin-bottom: 30px;
}
.content-box{
    position: relative;
    width: 800px;
    max-height: 600px;
    padding-top: 30px;
}
.content-container{
    width: 800px;
    max-height: 500px;
    padding: 20px;
    padding-bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    word-wrap: break-word;
    background-color: #fff;
    box-shadow: -7px 7px 2px -2px rgba(200, 200, 200, 0.5); 
}
.content-box::before{
    position: absolute;
    top: 10px;
    left: -20px;
    content: "";
    height: 0;
    width: 0;
    border-bottom: 20px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid transparent;
    box-shadow: 0px 7px 2px -2px rgba(200, 200, 200, 0.5);
    transform: rotate(45deg);
}
:host ::ng-deep .ant-card-body {
    padding: 18px 18px 5px 18px;
  }
.content{
    width: 100%;
    height: 100%;
    max-height: 380px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.content-title{
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all .5s;
}
.content-title:hover{
    text-shadow: 2px 2px 2px #ddd;
    font-size: 22px;
}
.content-bottom{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.avatar-item{
    cursor: pointer;
}
.avatar-item:hover{
    font-weight: 600;
}
.time{
    font-size: 12px;
    color: #7d7d7d;
    margin-right: 20px;
    font-weight: 400;
}
.book-tag{
    margin-left: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #aaa;
}