<div class="main-container" [@flyIn]="'active'">
  <div class="post-item" *ngFor="let post of posts; let i = index" nz-row>
    <div class="content-container">
      <div routerLink="/post/{{post._id}}" class="content-title ql-align-center">{{post.title}} <span class="book-tag"><i class="anticon anticon-tag" style="margin-right: 5px"></i>  {{post.bookname}}</span></div>
      <div class="content ql-editor-container" [innerHTML]="post.content"></div>
      <div class="content-bottom">
        <span class="time">{{post.createdAt}}</span>
          <span><i class="anticon anticon-eye-o" style="margin-right: 5px"></i>浏览({{post.pv}})</span>
      </div>
    </div>
  </div>
</div>