<div *ngIf="loginService.isShowTop" class="top-container">
  <div class="top">
    <img routerLink="" src="../../assets/logo.png" alt="">
    <div>
      <nz-input-group [nzSize]="'large'" nzCompact>
        <nz-select [(ngModel)]="select">
          <nz-option [nzLabel]="'文章'" [nzValue]="'文章'"></nz-option>
          <nz-option [nzLabel]="'书籍'" [nzValue]="'书籍'"></nz-option>
        </nz-select>
        <nz-input [nzType]="'search'" [nzPlaceHolder]="'搜索'" [(ngModel)]="searchContent" (nzOnSearch)="onSearch($event)" style="width: 200px;"></nz-input>
      </nz-input-group>
    </div>
    <div>
      <span routerLink="/personal/{{loginService.username || loginService.user.username}}/like" class="top-button-box">
        <i class="anticon anticon-star-o" style="margin-right: 5px;"></i>关注
      </span>
      <span routerLink="/personal/{{loginService.username || loginService.user.username}}/message" class="top-button-box">
        <i class="anticon anticon-message" style="margin-right: 5px;"></i>消息
      </span>
    </div>
    <div>
      <nz-popover *ngIf="loginService.isLogin" [nzTitle]="loginService.username || loginService.user.username">
        <div routerLink="/personal/{{loginService.username || loginService.user.username}}" class="head-avatar" nz-popover>
          <img src="http://localhost:3000{{loginService.user.avatar}}" alt="">
        </div>
        <ng-template #nzTemplate>
          <div>
            <p class="avatar-item" routerLink="addpost">
              <i class="anticon anticon-file-text" style="margin-right: 15px;"></i>发表文章</p>
            <p routerLink="/personal/{{loginService.username || loginService.user.username}}" class="avatar-item">
              <i class="anticon anticon-user" style="margin-right: 15px;"></i>个人主页</p>
            <p class="avatar-item">
              <i class="anticon anticon-setting" style="margin-right: 15px;"></i>设置</p>
            <p class="avatar-item" (click)="logout()">
              <i class="anticon anticon-logout" style="margin-right: 15px;"></i>退出</p>
          </div>
        </ng-template>
      </nz-popover>
      <button *ngIf="!loginService.isLogin" (click)="toLogin()" nz-button [nzType]="'primary'">
        <span>登录/注册</span>
      </button>
    </div>
  </div>
</div>
<div *ngIf="loginService.isShowTop" class="block"></div>